<<<<<<< HEAD
- var images = ['content/1.jpg', 'content/2.jpg', 'content/3.jpg', 'content/4.jpg', 'content/5.jpg']
.slider
    .slider__img.slider_block
        .slider__img_content
            ul.slider__img_list
                each item, ndx in images
                    li(class='slider__img_item' + ( (ndx === 0) ? ' slider__img_item--active' : '' ))
                        img(class='slider__img_pic' src=require(`images/${item}`))

            div.slider__controls
                .slider__wrapper
                    ul(class='slider__controls_list')
                        each item, ndx in images
                            li(class='slider__controls_item' + ( (ndx === 1) ? ' slider__controls_item--active' : '' ) + ( (ndx === 0) ? ' slider__controls_item--first-visible' : '' )  )
                                img(class='slider__controls_pic' src=require(`images/${item}`))
                    .slider__buttons
                        button(type="button" class="slider__button slider__prev")
                        button(type="button" class="slider__button slider__next")

                    
    .slider__description.slider_block
        nav.slider__description_nav
            ul.slider__description_list
                - var descriptionItem = ['HTML', 'CSS', 'Javascript']
                each item in descriptionItem
                    li.slider__description_item
                         a.slider__description_anchor= item
            .slider__description_title Cайт школы образования
            .slider__description_text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            a.slider__description_link(href="https://loftschool.com") Посмотреть сайт
=======


script(type="text/x-template")#slider
    .slider
        display(
            :works="works"
            :currentWork="currentWork"
            @slide="clickSlide"
        )                
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider_display
    .slider__img.slider_block
        .slider__img_content
            slides(
                :currentWork="currentWork"
            )
            controls(
                :works="works"
                :currentWork="currentWork"
                @slide="direction => $emit('slide', direction)"
            )

script(type="text/x-template")#slider_main
    .slider__pic_container
        img(:src="currentWork.photo").slider__pic

script(type="text/x-template")#slider_controls
    div.slider__controls
        .slider__wrapper
            ul(class='slider__controls_list' ref="list")
                li(class='slider__controls_item' v-for="(work, index) in works" :class="{slider__controls_item_active: work.id === activeSlide, slider__controls_item_first_visible :work.id === firstVisible }" ref="item")
                    img(:src="work.photo" alt="").slider__controls_pic
            btns(
                :works="works"
                @slide="direction => $emit('slide', direction)"
                @secondSlide='handleSlide'
            )


script(type="text/x-template")#slider_btns
    .slider__buttons
        button(@click="$emit('slide', 'next'), secondSlide('next')" type="button" class="slider__button slider__next" :disabled='false' ref="nextButton")
        button(@click="$emit('slide', 'prev'), secondSlide('prev')" type="button" class="slider__button slider__prev" :disabled='true' ref="prevButton")

script(type="text/x-template")#slider_info
    .slider__description.slider_block
        tags(
            :tags="tagsArray"
        )
        .slider__description_title {{currentWork.title}}
        .slider__description_text
            p {{currentWork.desc}}
        a.slider__description_link(:href="currentWork.link") Посмотреть сайт

script(type="text/x-template")#slider_tags
    nav.slider__description_nav
        ul.slider__description_list
            li.slider__description_item(v-for="tag in tags")
                a.slider__description_anchor {{tag}}
>>>>>>> 6b02373b03ee75a070f382bb4eaacd42f109beab
